body {
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
  max-height: 500px;
}

.App footer {
  font-size: 11px;
  margin-top: 15px;
}

.App a {
  color: black;
}
.App a:hover {
  transition: all 300ms ease;
  color: rgb(92, 205, 201);
}
