.App {
  max-width: 450px;
  margin: 30px auto;
  text-align: center;
}

.App footer {
  font-size: 11px;
  margin-top: 15px;
}

.App a {
  color: black;
}
.App a:hover {
  transition: all 300ms ease;
  color: green;
}
