.Weather {
  border: 4px solid black;
  border-radius: 20px;
  height: 450px;
  padding: 30px;
  font-family: "Abel", sans-serif;
  background: white;
}

.Weather h1 {
  font-size: 40px;
}

.Weather canvas {
  display: inline-block;
}
.Weather .visual-temperature {
  font-size: 35px;
  position: relative;
  top: -4px;
  margin-left: 10px;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.Weather .form-control {
  color: white;
  background: black;
  border: 2px solid black;
}
.Weather .btn {
  color: white;
  background: black;
  border: 2px solid black;
}
.Weather .btn:hover {
  transition: all 300ms ease;
  color: black;
  background: white;
}
.Weather .unit {
  font-size: 20px;
}
